.bg-image {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}

.bg-image.no-nav {
    top: 0;
    left: 0;
}
