{% extends 'base/academy_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8">
        <h1>Landing Page</h1>
        <div class="row g-4 mt-2">
            <div class="col-md-4">
                <a href="{% url 'student-login' %}" class="text-decoration-none">
                    <div class="card h-100 shadow-sm hover-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Student Portal</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'faculty-login' %}" class="text-decoration-none">
                    <div class="card h-100 shadow-sm hover-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Faculty Portal</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'parent-login' %}" class="text-decoration-none">
                    <div class="card h-100 shadow-sm hover-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Parent Portal</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}